# This file specifies files that are not uploaded to Google Cloud Platform when you
# deploy using `gcloud app deploy`.
.secrets/
.git
__pycache__/
*.pyc
.venv/
venv/
.devcontainer/
database/__pycache__
fastapi_service/__pycache__
streamlit_service/__pycache__